$player-color: #2c3e50;

ul.popular-list {
  h4 {
    text-transform: uppercase;
  }

  li.song {
    color: #ecf0f1;
    @include margin(null null 1em null);

    &:nth-child(2) {
      background-color: tint($player-color, 16%);
    }

    &:nth-child(3) {
      background-color: tint($player-color, 12%);
    }

    &:nth-child(4) {
      background-color: tint($player-color, 8%);
    }

    &:nth-child(5) {
      background-color: tint($player-color, 4%);
    }

    &:nth-child(6) {
      background-color: $player-color;
    }

    &:nth-child(7) {
      background-color: shade($player-color, 4%);
    }

    &:nth-child(8) {
      background-color: shade($player-color, 8%);
    }

    &:nth-child(9) {
      background-color: shade($player-color, 16%);
    }

    &:nth-child(10) {
      background-color: shade($player-color, 20%);
    }

    &:nth-child(11) {
      background-color: shade($player-color, 24%);
    }
  }

  a {
    color: #ecf0f1;
    &:hover, &:active {
      color: darken(#ecf0f1, 10%);
    }
  }

  .btn {
    background-color: #e74c3c;
    border-radius: 0;
    @include position(relative);

    &:active {
      background-color: shade(#e74c3c, 15%);
    }

    &:focus, &:active:focus {
      outline: 0;
    }

    &:active, &:focus, &:hover {
      color: #ECF0F1;
    }

  }

  .btn.loading-song {
    i {
      @include animation(fadeIn 0.1s ease);
    }
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

// animation for showing user when a track is loading into the player
@include keyframes(pulse) {
  from {
    color: #ECF0F1;
  }
  to {
    color: darken(#ECF0F1, 15%);
  }
}

.audio-widget {
  @include display(flex);

  .player-controls {
    @include flex(10%);
    @media screen and (max-width: 500px) {
      @include flex(20%);
    }

    @include display(flex);
    button {
      width: 100%;
    }
  }

  .song-info {
    @include flex(90%);
    
    &.player-error {
      background-color: #e67e22;
      i.fa-close {
        cursor: pointer;
      }
    }

    @media screen and (max-width: 500px) {
      @include flex(80%);
    }

    h4, h5 {
      @include margin(0.5em);
    }

    h5 {
      @include padding(null null null 0.18em);
    }
  }

  progress {
    @include appearance(none);
    cursor: pointer;
    width: 100%;
    height: em(18);
    vertical-align: bottom;
    border: none;
    @include linear-gradient(to right, #95a5a6, #7f8c8d);

    &[value]::-webkit-progress-value {
      background-color: #4CB8C4;
      @include linear-gradient(to left, #4CB8C4, #3CD3AD);
      // @include linear-gradient(to right, #F09819, #FF512F);
      // @include linear-gradient(to right, #F7BB97, #DD5E89);
    }

    &[value]::-moz-progress-bar {
      background-color: #4CB8C4;
      @include linear-gradient(to left, #4CB8C4, #3CD3AD);
    }
  }

  .progress-fallback {
    cursor: pointer;
    width: 100%;
    height: em(18);
    vertical-align: bottom;
    border: none;
    @include linear-gradient(to right, #95a5a6, #7f8c8d);
    @include position(relative);

    >div {
      @include position(absolute, 0 null 0 0);
      @include linear-gradient(to right, #606c88, #3f4c6b);
      display: block;
    }
  }

}

.soundcloud-href {
  margin-right: 1em;
}