.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  @include transition(0.5s linear all);
}

.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger {
  // 50ms between each item being animated after the other
  @include transition-delay(50ms);

  // this is required here to prevent any CSS inheritance issues
  @include transition-duration(0);
}

// ending enter and move styling (this is what the element will animate from
.repeat-animation.ng-enter,
.repeat-animation.ng-move { opacity:0; }

// ending enter and move styling (this is what the element will animate towards
.repeat-animation.ng-enter.ng-enter-active,
.repeat-animation.ng-move.ng-move-active { opacity:1; }

// starting leave animation
.repeat-animation.ng-leave { opacity:1; }

// ending leave animation
.repeat-animation.ng-leave.ng-leave-active { opacity:0; }