*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:Raleway,Verdana,"Lucida Grande","Gill Sans",Arial,Helvetica,sans-serif}
body{background-color:#F2DBAE;background-image:-webkit-linear-gradient(left,#F2DBAE,#efd8ac);background-image:linear-gradient(to right,#F2DBAE,#efd8ac)}
body.auth-placeholder{background-color:#3CD3AD;position:absolute;height:100%;width:100%;display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;-o-justify-content:center;justify-content:center;-ms-flex-pack:center;-webkit-box-align:center;-moz-box-align:center;box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-ms-flex-align:center}
i.auth-placeholder{font-size:15em}
.navbar{background-color:#25bfa0}
.navbar a{color:#080b0e}
.navbar a:active,.navbar a:focus,.navbar a:hover{color:#ecf0f1}
button.login-button{background-color:rgba(0,0,0,.1);border-color:#25bfa0;color:rgba(0,0,0,.5)}
button.login-button:active,button.login-button:focus,button.login-button:hover{background-color:rgba(0,0,0,.2);border-color:#25bfa0}
.nav li.time-nav a:focus,.nav li.time-nav a:hover{background-color:rgba(0,0,0,.2)}
.nav li.time-nav a:active{background-color:rgba(0,0,0,.4)}
.user-feedback em{font-style:italic;cursor:pointer;margin-left:.8em;color:rgba(0,0,0,.5)}
ul.trending-nav{margin-bottom:1em}
ul.popular-list h4{text-transform:uppercase}
ul.popular-list li.song{color:#ecf0f1;margin-bottom:1em}
ul.popular-list li.song:nth-child(2){background-color:#4d5c6c}
ul.popular-list li.song:nth-child(3){background-color:#455565}
ul.popular-list li.song:nth-child(4){background-color:#3c4d5e}
ul.popular-list li.song:nth-child(5){background-color:#344557}
ul.popular-list li.song:nth-child(6){background-color:#2c3e50}
ul.popular-list li.song:nth-child(7){background-color:#2a3b4c}
ul.popular-list li.song:nth-child(8){background-color:#283949}
ul.popular-list li.song:nth-child(9){background-color:#243443}
ul.popular-list li.song:nth-child(10){background-color:#233140}
ul.popular-list li.song:nth-child(11){background-color:#212f3c}
ul.popular-list a{color:#ecf0f1}
ul.popular-list a:active,ul.popular-list a:hover{color:#cfd9db}
ul.popular-list .btn{background-color:#e74c3c;border-radius:0;position:relative}
ul.popular-list .btn:active{background-color:#c44033}
ul.popular-list .btn:active:focus,ul.popular-list .btn:focus{outline:0}
ul.popular-list .btn:active,ul.popular-list .btn:focus,ul.popular-list .btn:hover{color:#ECF0F1}
ul.popular-list .btn.loading-song i{-webkit-animation:fadeIn .1s ease;-moz-animation:fadeIn .1s ease;animation:fadeIn .1s ease}
@-webkit-keyframes fadeIn{from{opacity:1}
to{opacity:.2}}
@-moz-keyframes fadeIn{from{opacity:1}
to{opacity:.2}}
@keyframes fadeIn{from{opacity:1}
to{opacity:.2}}
@-webkit-keyframes pulse{from{color:#ECF0F1}
to{color:#c0cdd1}}
@-moz-keyframes pulse{from{color:#ECF0F1}
to{color:#c0cdd1}}
@keyframes pulse{from{color:#ECF0F1}
to{color:#c0cdd1}}
.audio-widget{display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex}
.audio-widget .player-controls{-webkit-box-flex:10%;-moz-box-flex:10%;box-flex:10%;-webkit-flex:10%;-moz-flex:10%;-ms-flex:10%;flex:10%;display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex}
@media screen and (max-width:500px){.audio-widget .player-controls{-webkit-box-flex:20%;-moz-box-flex:20%;box-flex:20%;-webkit-flex:20%;-moz-flex:20%;-ms-flex:20%;flex:20%}}
.audio-widget .player-controls button{width:100%}
.audio-widget .song-info{-webkit-box-flex:90%;-moz-box-flex:90%;box-flex:90%;-webkit-flex:90%;-moz-flex:90%;-ms-flex:90%;flex:90%}
@media screen and (max-width:500px){.audio-widget .song-info{-webkit-box-flex:80%;-moz-box-flex:80%;box-flex:80%;-webkit-flex:80%;-moz-flex:80%;-ms-flex:80%;flex:80%}}
.audio-widget .song-info h4,.audio-widget .song-info h5{margin:.5em}
.audio-widget .song-info h5{padding-left:.18em}
.audio-widget progress{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;cursor:pointer;width:100%;height:1.125em;vertical-align:bottom;border:none;background-color:#95a5a6;background-image:-webkit-linear-gradient(left,#95a5a6,#7f8c8d);background-image:linear-gradient(to right,#95a5a6,#7f8c8d)}
.audio-widget progress[value]::-webkit-progress-value{background-color:#4CB8C4;background-image:-webkit-linear-gradient(right,#4CB8C4,#3CD3AD);background-image:linear-gradient(to left,#4CB8C4,#3CD3AD)}
.audio-widget progress[value]::-moz-progress-bar{background-color:#4CB8C4;background-image:-webkit-linear-gradient(right,#4CB8C4,#3CD3AD);background-image:linear-gradient(to left,#4CB8C4,#3CD3AD)}
.audio-widget .progress-fallback{cursor:pointer;width:100%;height:1.125em;vertical-align:bottom;border:none;background-color:#95a5a6;background-image:-webkit-linear-gradient(left,#95a5a6,#7f8c8d);background-image:linear-gradient(to right,#95a5a6,#7f8c8d);position:relative}
.audio-widget .progress-fallback>div{position:absolute;top:0;bottom:0;left:0;background-color:#606c88;background-image:-webkit-linear-gradient(left,#606c88,#3f4c6b);background-image:linear-gradient(to right,#606c88,#3f4c6b);display:block}
.soundcloud-href{margin-right:1em}
.repeat-animation.ng-enter,.repeat-animation.ng-leave,.repeat-animation.ng-move{-webkit-transition:.5s cubic-bezier(0.175,.885,.32,1.275) transform;-moz-transition:.5s cubic-bezier(0.175,.885,.32,1.275) transform;transition:.5s cubic-bezier(0.175,.885,.32,1.275) transform}
.repeat-animation.ng-enter-stagger,.repeat-animation.ng-leave-stagger,.repeat-animation.ng-move-stagger{-webkit-transition-delay:50ms;-moz-transition-delay:50ms;transition-delay:50ms;-webkit-transition-duration:0;-moz-transition-duration:0;transition-duration:0}
.repeat-animation.ng-enter,.repeat-animation.ng-move{opacity:0;-webkit-transform:translateY(100%);-moz-transform:translateY(100%);-ms-transform:translateY(100%);-o-transform:translateY(100%);transform:translateY(100%)}
.repeat-animation.ng-enter.ng-enter-active,.repeat-animation.ng-leave,.repeat-animation.ng-move.ng-move-active{opacity:1;-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);-o-transform:translateY(0%);transform:translateY(0%)}
.repeat-animation.ng-leave.ng-leave-active{opacity:0;-webkit-transform:translateY(100%);-moz-transform:translateY(100%);-ms-transform:translateY(100%);-o-transform:translateY(100%);transform:translateY(100%)}
.animate-view-leave.ng-leave{-webkit-transition:.5s cubic-bezier(0.55,.055,.675,.19) transform;-moz-transition:.5s cubic-bezier(0.55,.055,.675,.19) transform;transition:.5s cubic-bezier(0.55,.055,.675,.19) transform;-webkit-transform:translateY(-5%);-moz-transform:translateY(-5%);-ms-transform:translateY(-5%);-o-transform:translateY(-5%);transform:translateY(-5%)}
.animate-view-leave.ng-leave.ng-leave-active{-webkit-transform:translateY(100%);-moz-transform:translateY(100%);-ms-transform:translateY(100%);-o-transform:translateY(100%);transform:translateY(100%)}