// variables

$font-stack: "Raleway", "Verdana", "Lucida Grande", "Gill Sans", "Arial", "Helvetica", sans-serif;

* {
  font-family: $font-stack;
}

body {
  @include linear-gradient(to right, #F2DBAE, shade(#F2DBAE, 1%));
  // @include linear-gradient(to right, #F7BB97, tint(#DD5E89, 30%));
  // @include linear-gradient(to right, #4CB8C4, shade(#3CD3AD, 15%));
  // @include linear-gradient(to right, #4CB8C4, #3CD3AD);
  // @include linear-gradient(to left, #085078, #85D8CE);
  // @include linear-gradient(to left, tint(#ED4264, 30%), #FFEDBC);
  // @include linear-gradient(to right, #ECE9E6, shade(#FFFFFF, 10%));
  // @include linear-gradient(to left, tint(#DE6262, 10%), #FFB88C);
  // @include linear-gradient(to right, #616161, #9bc5c3);
}


div.auth-placeholder {
  background-color: #3CD3AD;
  @include position(absolute);
  @include size(100%);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}

i.auth-placeholder {
  font-size: 15em;
}

h3.auth-placeholder {
  text-align: center;
}

$nav-color: tint(#1abc9c, 5%);

.navbar {
  background-color: $nav-color;
  a {
    color: darken(#2c3e50, 20%);
      &:hover, &:active, &:focus {
        color: #ecf0f1;
    }
  }
}

button.login-button {
  background-color: rgba(0,0,0,0.1);
  border-color: $nav-color;
  color: rgba(0,0,0,0.5);

  &:active, &:hover, &:focus {
    background-color: rgba(0,0,0,0.2);
    border-color: $nav-color;
  }
}

.nav li.time-nav {
  a {
    &:hover, &:focus {
      background-color: rgba(0,0,0,0.2);
    }

    &:active {
      background-color: rgba(0,0,0,0.4);
    }
  }
}

.user-feedback {
  em {
    font-style: italic;
    cursor: pointer;
    margin-left: 0.8em;
    color: rgba(0,0,0,0.5);
  }
}

.jumbotron.info-page {
  color: #ecf0f1;
  background-color: #2c3e50;

  .search-button {
    @include transition(0.1s ease-in-out all);
    color: #ecf0f1;
    background-color: #E74C3C;
    cursor: pointer;

    input {
      display: none
    }
  }

  .search-alert {
    background-color: #d35400;
  }

  section.jumbotron-section {
    @include margin(null null 2em null);
    @include padding(0.5em null null null);
    border-top: 1px solid #bdc3c7;

    &:last-child {
      @include margin(null null 0 null);
    }
  }
}

.contact-links {
  font-size: 7.5em;
}