<div class="container">
  <div class="jumbotron">
    <h2>Welcome to SoundCirrus</h2>

    <div ng-show="isAuthenticated()">
      <p>Get the most popular tracks uploaded or favorited by the people you follow on Soundcloud.</p>
      <p><a class="btn btn-primary btn-lg" ui-sref="trending">Go to trending section</a></p>
    </div>

    <div ng-hide="isAuthenticated()">
      <h3><em>Please log in to continue</em></h3>
      <p>In order to get your popular tracks, you need to sign in with Soundcloud.</p>
      <p>
        <button ng-click="login()" class="btn btn-primary btn-lg"><i class="fa fa-soundcloud"></i> Sign in</button>
      </p>
    </div>
  </div>
</div>