<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h2 class=""><i class="fa fa-headphones"></i> Popular songs <span ng-show="user">for {{user.username}}</span></h2>
    
    <ul class="nav nav-pills trending-nav">
      <li class="time-nav" ng-class="{active: activeTab('trending.today')}"><a ng-click="clearMessages()" ui-sref=".today">Today</a></li>
      <li class="time-nav" ng-class="{active: activeTab('trending.week')}"><a ng-click="clearMessages()" ui-sref=".week">This week</a></li>
      <li class="time-nav" ng-class="{active: activeTab('trending.month')}"><a ng-click="clearMessages()" ui-sref=".month">This month</a></li>
      <li class="time-nav" ng-class="{active: activeTab('trending.allTime')}"><a ng-click="clearMessages()" ui-sref=".allTime">All time</a></li>
    </ul>
  </div>
</div>

<div ui-view class="animate-view-leave row"></div>
