<div class="col-md-12 col-sm-12 col-xs-12">
  <ul class="list-unstyled popular-list">
    <li ng-show="showLoading">
      <h1 class="text-center"><i class="fa fa-spinner fa-spin"></i></h1>
    </li>
    <li class="song repeat-animation" ng-repeat="song in songs | limitTo: 10">

      <div
        music-player="{{ song.id }}"
        url="{{ song.permalink_url }}"
        title="{{ song.title }}"
        username="{{ song.user.username }}"
        artist-url="{{ song.user.permalink_url }}">
      </div>
  
    </li>
  </ul>
</div>
