<!DOCTYPE html>
<html lang="en">
  <head>
		<title>SoundCirrus</title>

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- <link rel="shortcut icon" href="../favicon.ico"> -->
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">


		<link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

		<script src="lib/angular-animate/angular-animate.js"></script>
		<script src="lib/satellizer/satellizer.min.js"></script>
		<script src="lib/plangular/ng-plangular.min.js"></script>


		<script src="js/app.js"></script>
		<script src="js/templates.js"></script>
	
  </head>

  <body ng-app="cirrusSounds" ng-controller="MainCtrl" ontouchstart="">


		<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-header pull-left">
		      <a class="navbar-brand" ui-sref="home">SoundCirrus</a>
		    </div>

		    <div class="navbar-header pull-right">
	        <button ng-hide="isAuthenticated()" ng-click="login()" type="button" class="btn btn-default navbar-btn soundcloud-button"><i class="fa fa-soundcloud"></i> Sign in</button>
	        <button ng-show="isAuthenticated()" ng-click="logout()" class="btn btn-default navbar-btn">Sign out <i class="fa fa-sign-out"></i></button>
		    </div>
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="container" ui-view>
		</div>

  </body>
</html>
